DATABASE_URL=
SCANNER_TOKEN=
SCANNER_SIGNING_SECRET=
REDIS_URL=
CROSS_VERIFICATION_WORKER_CONCURRENCY=5
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXTAUTH_COOKIE_DOMAIN=
